<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="com.atk" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="docker">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGSTASH_DESTINATION:-logstash:5001}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            <keepAliveDuration>5 minutes</keepAliveDuration>
        </appender>

        <root>
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>

</configuration>
